VITE_APP_NAME=Rozumari
VITE_API_URL=https://example-api.com

# Cloudflare Turnstile site key for the web app.
VITE_TURNSTILE_KEY=

# Vercel bypass token for preview deployments. This is used to bypass the Vercel preview deployment password protection.
VITE_BYPASS_TOKEN=
