# dependencies
node_modules/
.venv/

# production
build/
dist/

# react router
.react-router/

# expo
.expo/
android/
ios/
expo-env.d.ts

# python
__pycache__/
*.egg-info/

# environment variables
.env*
!.env.example

# logs
logs/
*.log

# misc
.cache/
.vscode/
.DS_Store
*.bak
*.tgz

# infrastructure
.alchemy/
.turbo/
.vercel/
.wrangler/
.vercel
