# dependencies
node_modules/

# production
build/
dist/

# react router
.react-router/

# environment variables
.env*
!.env.example

# logs
logs/
*.log

# misc
.cache/
.vscode/
.DS_Store
*.bak

# infrastructure
.alchemy/
.turbo/
.vercel/
.wrangler/
.vercel
