# Api url used for the mobile app.
EXPO_PUBLIC_API_URL=https://example-api.com

# Web url used for deep linking in the mobile app.
EXPO_PUBLIC_WEB_URL=example.com

# Cloudflare Turnstile site key for the mobile app.
EXPO_PUBLIC_TURNSTILE_KEY=

