# PostgreSQL database connection URL.
DATABASE_URL=
# URL of the client application, separated by commas. Used for CORS configuration.
CORS_ORIGIN=
# The timezone for the application (default is Asia/Ho_Chi_Minh).
TIMEZONE=

# Authentication secret key for signing and verifying authentication tokens.
# Generate via `openssl rand -hex 32`
AUTH_SECRET= 

# OAuth credentials for third-party authentication providers.
AUTH_FACEBOOK_ID=
AUTH_FACEBOOK_SECRET=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

AUTH_TWITTER_ID=
AUTH_TWITTER_SECRET=

# Third-party service configuration
RESEND_API_KEY=
OPENROUTER_API_KEY=

# Cloudflare Turnstile secret key for server-side verification of Turnstile tokens.
TURNSTILE_KEY=

